body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background-color: black;
  color: seashell;
  text-align: center;
}

header {
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  margin: auto;
  background-color: black;
  width: 100%;
}

#mission {
  height: 700px;
  background-image: url(file:///Users/kenessa/Desktop/CODE-projects/tea-cozy/resources/images/img-mission-background.jpg);
  padding-top: 70px;
  background-size: cover;
}
